body {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    background-color: var(--bodyBackgroundColor, $base-color-dark-blue);
    color: var(--bodyTextColor, $base-color-light-grey);
}

a {
    color: var(--linkTextColor, $base-color-mid-mono-grey);
    text-decoration: none;
    &:hover{
        color: var(--linkTextHoverColor, $base-color-red-hover);
    }
}

.content-container{
    width: 80vw;
    margin: 0 auto;
}
