$base-color-mid-blue: #54556e;
$base-color-dark-blue: #40415a;
$base-color-darker-blue: #383952;
$base-color-mid-grey: #aaaab8;
$base-color-mid-mono-grey: #7f7f7f;
$base-color-light-grey: #e3e3e3;
$base-color-lt-mid-grey: #c8c8d0;
$base-color-mid-faded-grey: rgba(255,255,255,0.7);
$base-color-dark-grey: #2f2f32;
$base-color-blue-grey: #808196;

$base-color-red: #d55161;
$base-color-red-hover: #c14857;
$base-color-orange: #f99a66;
$base-color-purple: #a973a2;
$base-color-green: #7bc8a4;
$base-color-dark-green: #2a8b9d;
$base-color-teal: #69c9cd;
$base-color-yellow: #e6c653;

$base-color-black: #000;
$base-color-black-mid-grey: #3a3a3a;
$base-color-black-dark-grey: #202020;

$alice-pink: #eb4477;
$alice-dark-pink: darken($alice-pink, 20%);
$alice-light-pink: #ffd0de;
