:root {
    --colorMidBlue: $base-color-mid-blue;
    --colorDarkBlue: $base-color-dark-blue;
    --colorDarkerBlue: $base-color-darker-blue;
    --colorMidGrey: $base-color-mid-grey;
    --colorMidMonoGrey: $base-color-mid-mono-grey;
    --colorLightGrey: $base-color-light-grey;
    --colorLtMidGrey: $base-color-lt-mid-grey;
    --colorMidFadedGrey: $base-color-mid-faded-grey;
    --colorDarkGrey: $base-color-dark-grey;
    --colorBlueGrey: $base-color-blue-grey;

    --colorRed: $base-color-red;
    --colorRedHover: $base-color-red-hover;
    --colorOrange: $base-color-orange;
    --colorPurple: $base-color-purple;
    --colorGreen: $base-color-green;
    --colorDarkGreen: $base-color-dark-green;
    --colorTeal: $base-color-teal;
    --colorYellow: $base-color-yellow;

    --colorBlack: $base-color-black;
    --colorBlackMidGrey: $base-color-black-mid-grey;
    --colorBlackDarkGrey: $base-color-black-dark-grey;
}
